<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="appetizers">
      <i class="fas fa-bread-slice"></i>
      <ion-label>Entradas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="maincourses">
      <i class="fas fa-utensils"></i>
      <ion-label>Platos Fuertes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="drinks">
      <i class="fas fa-wine-glass"></i>
      <ion-label>Bebidas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="shoppingcart">
      <i class="fas fa-shopping-cart"></i>
      <ion-label>Canasta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
